* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('/web-app/images/dynamic-stadium-large-modern-filled-600nw-2472452971.webp'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 100px; /* Adjust logo size */
    margin-right: 300px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 150px;
    height: 60px;
    font-size: 22px;
    background: linear-gradient(90deg, #ff1515, #7c0000);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

.text-below {
      text-align: center;
      padding: 50px;
      background-color: #f4f4f4;
      color: black;
    }
    
    .header-button {
        background: none;
        background-color: #ffffff !important;
    }
    