* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('http://cdn.mcauto-images-production.sendgrid.net/9fdee810147efd1c/31d1fe30-879d-4b17-a342-80b80492d05d/1024x576.JPG'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

header {
    position: absolute;
    align-items: center;
    margin-top: -300px;
}

.logo {
    width: 100px; /* Adjust logo size */
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 150px;
    height: 60px;
    font-size: 22px;
    background: linear-gradient(90deg, #ff1515, #7c0000);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

.text-below {
      text-align: center;
      padding: 5px;
      background-color:  #151515;
      color: white;
    }
    
    .header-button {
        background: none;
        background-color: #881414 !important;
    }
    